<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="/destiny.js"></script>
<script src="/ui.js"></script>
<script src="/util.js"></script>
<title>{% block title %}Destiny Dashboard{% endblock %}</title>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Destiny Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" id="inspect-form">
        <div class="form-group">
          <input name="account" placeholder="Gamer tag" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Inspect</button>
      </form>
    </div>
  </div>
</nav>

<script>
document.getElementById('inspect-form').addEventListener('submit', function(e) {
  e.preventDefault();
  window.location = '/' + this.firstElementChild.firstElementChild.value;
});
</script>

<style>
body {
  padding-top: 50px;
}
</style>

{% block content %}{% endblock %}
