{% extends "_base.html" %}
{% block title %}Object{% endblock %}

{% macro ShowDict(obj) %}
  {% if obj %}
    {% if obj|count > 1 %}
      <button class="btn" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display == '' ? 'none' : '';">{{obj|count}} items</button>
    {% endif %}
    <ul{% if obj|count > 5 %} style="display: none"{% endif %}>
      {% for k, v in obj.iteritems()|sort %}
        <li>{{k}}: {{ShowVal(k, v)}}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro ShowList(k, obj) %}
  {% if obj %}
    {% if obj|count > 1 %}
      <button class="btn" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display == '' ? 'none' : '';">{{obj|count}} items</button>
    {% endif %}
    <ol{% if obj|count > 5 %} style="display: none"{% endif %}>
      {% for v in obj %}
        <li>{{ShowVal(k, v)}}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}

{% macro ShowVal(k, v) %}
  {% if v.iteritems %}
    { {{ShowDict(v)}} }
  {% elif v.__iter__ %}
    [ {{ShowList(k, v)}} ]
  {% elif k == 'backgroundImageMobile' or k == 'backgroundPath' or k == 'emblemPath' or k == 'factionIcon' or k == 'icon' or k == 'iconPath' or k == 'secondaryIcon' or k == 'sheetPath' or k == 'vendorIcon' or k == 'vendorPortrait' %}
    {{v}}<br>
    <img src="https://www.bungie.net{{v}}" style="border: 1px solid black">
  {% elif k == 'activityBundleHashes' %}
    <a href="/db/ActivityBundle/{{v}}">{{v}}</a>
  {% elif k == 'activityHash' or k == 'activityHashes' or k == 'currentActivityHash' %}
    <a href="/db/Activity/{{v}}">{{v}}</a>
  {% elif k == 'activityTypeHash' %}
    <a href="/db/ActivityType/{{v}}">{{v}}</a>
  {% elif k == 'bookHash' or k == 'directorBookHash' %}
    <a href="/db/DirectorBook/{{v}}">{{v}}</a>
  {% elif k == 'bucketHash' or k == 'bucketTypeHash' %}
    <a href="/db/InventoryBucket/{{v}}">{{v}}</a>
  {% elif k == 'classHash' %}
    <a href="/db/Class/{{v}}">{{v}}</a>
  {% elif k == 'destinationHash' %}
    <a href="/db/Destination/{{v}}">{{v}}</a>
  {% elif k == 'eventHash' %}
    <a href="/db/SpecialEvent/{{v}}">{{v}}</a>
  {% elif k == 'factionHash' %}
    <a href="/db/Faction/{{v}}">{{v}}</a>
  {% elif k == 'flagHash' %}
    <a href="/db/UnlockFlag/{{v}}">{{v}}</a>
  {% elif k == 'genderHash' %}
    <a href="/db/Gender/{{v}}">{{v}}</a>
  {% elif k == 'gridHash' or k == 'talentGridHash' %}
    <a href="/db/TalentGrid/{{v}}">{{v}}</a>
  {% elif k == 'itemCategoryHash' or k == 'itemCategoryHashes' %}
    <a href="/db/ItemCategory/{{v}}">{{v}}</a>
  {% elif k == 'itemHash' %}
    <a href="/db/InventoryItem/{{v}}">{{v}}</a>
  {% elif k == 'objectiveHash' %}
    <a href="/db/Objective/{{v}}">{{v}}</a>
  {% elif k == 'perkHash' %}
    <a href="/db/SandboxPerk/{{v}}">{{v}}</a>
  {% elif k == 'placeHash' %}
    <a href="/db/Place/{{v}}">{{v}}</a>
  {% elif k == 'primaryBaseStatHash' %}
    <a href="/db/Stat/{{v}}">{{v}}</a>
  {% elif k == 'progressionHash' %}
    <a href="/db/Progression/{{v}}">{{v}}</a>
  {% elif k == 'raceHash' %}
    <a href="/db/Race/{{v}}">{{v}}</a>
  {% elif k == 'skullHash' %}
    <a href="/db/ScriptedSkull/{{v}}">{{v}}</a>
  {% elif k == 'buildStatGroupHash' or k == 'statGroupHash' %}
    <a href="/db/StatGroup/{{v}}">{{v}}</a>
  {% elif k == 'statHash' %}
    <a href="/db/Stat/{{v}}">{{v}}</a>
  {% elif k == 'sourceHash' or k == 'sourceHashes' %}
    <a href="/db/RewardSource/{{v}}">{{v}}</a>
  {% elif k == 'triumphSetHash' %}
    <a href="/db/TriumphSet/{{v}}">{{v}}</a>
  {% elif k == 'vendorCategoryHash' or k == 'vendorCategoryHashes' %}
    <a href="/db/VendorCategory/{{v}}">{{v}}</a>
  {% elif k == 'vendorHash' %}
    <a href="/db/Vender/{{v}}">{{v}}</a>
  {% else %}
    {{v|e}}
  {% endif %}
{% endmacro %}

{% block content %}

<div class="container">
  {{ShowDict(obj)}}
</div>

{% endblock %}
