<!DOCTYPE html>

<style>
table.usergrid {
  border: 0;
}

table.usergrid td {
  height: 96px;
  vertical-align: top;
}

table.usergrid img {
  float: left;
}

table.usergrid div {
  color: yellow;
  float: left;
  height: 96px;
  width: 474px;
}
</style>

<table class="usergrid">
{% for activity, characters in activities|dictsort %}
  <tr>
    <td>{{activity}}</td>
    <td>
    {% for character in characters %}
      {% if now - character.last_online > 600 %}
      <div style="background: #222">
      {% else %}
      <div style="background: url(https://www.bungie.net{{character.emblem_banner}}) no-repeat">
      {% endif %}
        <img src="https://www.bungie.net{{character.emblem_icon}}">
        {% if character.account_type == 1 %}
          <img src="https://www.bungie.net/img/theme/destiny/icons/icon_xbl.png" style="height: 1em">
        {% elif character.account_type == 2 %}
          <img src="https://www.bungie.net/img/theme/destiny/icons/icon_psn.png" style="height: 1em">
        {% endif %}
        <a href="/user/{{character.name}}" style="color: white">{{character.name}}</a>
        {% if character.clan %}of {{character.clan}}{% endif %}<br>
        Level {{character.level}} {{character.race}} {{character.gender}} {{character.class}}<br>
        {% if now - character.last_online > 600 %}
          <span style="color: red">Last online: <script>document.write(new Date({{character.last_online}} * 1000).toLocaleString());</script></span><br>
        {% endif %}
      </div>
    {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
