div.emblem {
  background-color: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  float: left;
  height: 96px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 300px;
}

div.emblem > * {
  position: absolute;
}

div.emblem > img {
  left: 0px;
  top: 0px;
}

div.emblem > div.class {
  font-size: 40px;
  height: 50px;
  left: 96px;
  top: 0px;
}

div.emblem > div.subtitle {
  bottom: 20px;
  font-size: 20px;
  height: 30px;
  left: 100px;
}

div.emblem > div.level {
  font-size: 40px;
  height: 50px;
  right: 10px;
  top: 0px;
}

div.emblem > div.light {
  bottom: 20px;
  color: yellow;
  font-size: 20px;
  height: 30px;
  right: 10px;
}

div.emblem > div.stats {
  bottom: 2px;
  color: #bdbdbd;
  font-size: 10px;
  height: 20px;
  left: 101px;
}

div.quest {
  background-color: #212121;
  color: white;
  float: left;
  height: 40px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 300px;
}

div.quest > * {
  position: absolute;
}

div.quest > img {
  height: 40px;
  left: 0px;
  top: 0px;
  width: 40px;
}

div.quest > div.title {
  font-size: 14px;
  left: 42px;
  top: 0px;
}

div.quest > div.subtitle {
  bottom: 10px;
  font-size: 10px;
  left: 42px;
}

a.quest-step {
  background-color: #636363;
  color: white;
  float: left;
  font-size: 8px;
  margin-bottom: 1px;
  margin-top: 1px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 300px;
}

a.quest-step.active {
  background-color: #212121;
}
