{% extends "_base.html" %}
{% block content %}

<link rel="stylesheet" href="user.css">

<script>
var user = new nmlorg.destiny.User('{{username|e}}');
var div = document.createElement('div');
document.body.appendChild(div);
div.textContent = 'Loading...';

user.get(function() {
  document.title = user.name + ' \u2022 Destiny Dashboard';
  div.textContent = '';
  var table = document.createElement('table');
  div.appendChild(table);
  table.className = 'table';
  var thead = document.createElement('thead');
  table.appendChild(thead);
  var tr = document.createElement('tr');
  thead.appendChild(tr);
  var td = document.createElement('td');
  tr.appendChild(td);
  td.innerHTML += '<a href="/' + user.account_type + '/' + user.account_id + '"><img src="' + user.account_type_icon + '"> ' + user.name + '</a>';
  for (var i = 0; i < user.characters.length; i++) {
    var character = user.characters[i];
    td = document.createElement('td');
    tr.appendChild(td);
    td.appendChild(nmlorg.ui.character(character));
  }
  td = document.createElement('td');
  tr.appendChild(td);
  td.innerHTML = '<div class="emblem"><div class="class">Vault</div></div>';

  var bucketNames = [];
  for (var i = 0; i < user.characters.length; i++)
    for (var bucket in user.characters[i].inventory)
      if (bucketNames.indexOf(bucket) == -1)
        bucketNames.push(bucket);
  for (var bucket in user.vault)
    if (bucketNames.indexOf(bucket) == -1)
      bucketNames.push(bucket);
  bucketNames.sort()

  var tbody = document.createElement('tbody');
  table.appendChild(tbody);

  var tr = document.createElement('tr');
  tbody.appendChild(tr);
  var td = document.createElement('td');
  tr.appendChild(td);
  td.textContent = 'Quests';
  for (var i = 0; i < user.characters.length; i++) {
    td = document.createElement('td');
    tr.appendChild(td);
    var itemDiv = document.createElement('div');
    td.appendChild(itemDiv);
    itemDiv.style.display = 'none';
    for (var questName in user.characters[i].quests)
      itemDiv.appendChild(nmlorg.ui.quest(user.characters[i].quests[questName]));
    var br = document.createElement('br');
    itemDiv.appendChild(br);
    br.style.clear = 'both';
    var toggleDiv = document.createElement('div');
    td.appendChild(toggleDiv);
    toggleDiv.textContent = '\u25b6 Quests';
    toggleDiv.addEventListener('click', function() {
      var itemDiv = this.previousElementSibling;
      if (itemDiv.style.display == '') {
        itemDiv.style.display = 'none';
        this.textContent = '\u25b6' + this.textContent.substr(1);
      } else {
        itemDiv.style.display = '';
        this.textContent = '\u25b2' + this.textContent.substr(1);
      }
    });
    toggleDiv.style.cursor = 'pointer';
  }
  td = document.createElement('td');
  tr.appendChild(td);

  for (var i = 0; i < bucketNames.length; i++) {
    var bucketName = bucketNames[i];
    var buckets = [];
    for (var j = 0; j < user.characters.length; j++)
      buckets.push(user.characters[j].inventory[bucketName] || []);
    buckets.push(user.vault[bucketName] || []);

    var tr = document.createElement('tr');
    tbody.appendChild(tr);
    var td = document.createElement('td');
    tr.appendChild(td);
    td.textContent = bucketName;
    for (var j = 0; j < buckets.length; j++) {
      var bucket = buckets[j];
      var items = [];
      for (var k = 0; k < bucket.length; k++) {
        var item = bucket[k];
        items.push([1 / (item.primary_stat_value || 1), item.name, item]);
      }
      items.sort();
      td = document.createElement('td');
      tr.appendChild(td);
      if (items.length == 1)
        td.appendChild(nmlorg.ui.item(items[0][2]));
      else if (items.length > 1) {
        var itemDiv = document.createElement('div');
        td.appendChild(itemDiv);
        itemDiv.style.display = 'none';
        for (var k = 0; k < items.length; k++)
          itemDiv.appendChild(nmlorg.ui.item(items[k][2]));
        var br = document.createElement('br');
        itemDiv.appendChild(br);
        br.style.clear = 'both';
        var toggleDiv = document.createElement('div');
        td.appendChild(toggleDiv);
        toggleDiv.textContent = '\u25b6 ' + items.length + ' ' + bucketName;
        if (toggleDiv.textContent[toggleDiv.textContent.length - 1] != 's')
          toggleDiv.textContent += 's';
        toggleDiv.addEventListener('click', function() {
          var itemDiv = this.previousElementSibling;
          if (itemDiv.style.display == '') {
            itemDiv.style.display = 'none';
            this.textContent = '\u25b6' + this.textContent.substr(1);
          } else {
            itemDiv.style.display = '';
            this.textContent = '\u25b2' + this.textContent.substr(1);
          }
        });
        toggleDiv.style.cursor = 'pointer';
      }
    }
  }
});
</script>

{% endblock %}
