<!DOCTYPE html>

<style>
table.usergrid {
  border: 0;
}

table.usergrid td {
  vertical-align: top;
}

table.usergrid img {
  float: left;
  height: 4em;
  width: 4em;
}
</style>

<h2>User {{user.name}} {% if user.clan %}of {{user.clan}}{% endif %} (<a href="https://www.bungie.net/en/Profile/{{user.account_type}}/{{user.account_id}}">{{user.account_type}}/{{user.account_id}}</a>)</h2>

Glimmer: {{user.currency.glimmer}}<br>

{% macro inventory(item) %}
  <td title="{{item.desc|e}}">
    <img src="https://www.bungie.net{{item.icon}}">
    {{item.name}}
    {% if item.perks %}
      <div style="font-size: .7em">
        <div>Perks:</div>
        {% for perk in item.perks %}
          <div title="{{perk.desc|e}}">&mdash; {{perk.name}}</div>
        {% endfor %}
      </div>
    {% endif %}
  </td>
{% endmacro %}

<table class="usergrid">
{% for characterid, character in user.characters.iteritems() %}
  <tr>
    <td colspan="5"><h3 style="background: url(https://www.bungie.net{{character.emblem_banner}}) no-repeat 4em; height: 4em">
      <img src="https://www.bungie.net{{character.emblem_icon}}">
      <a href="https://www.bungie.net/en/Legend/{{user.account_type}}/{{user.account_id}}/{{characterid}}" style="color: white">
        Level {{character.level}} {{character.race}} {{character.gender}} {{character.class}}
      </a><br>
    </h3></td>
  </tr><tr>
    {{inventory(character.inventory.subclass)}}
    {{inventory(character.inventory.helmet)}}
    {{inventory(character.inventory.class_armor)}}
    {{inventory(character.inventory.ships)}}
    <td rowspan="4"><table>
      {% if character.current_activity %}
        <tr>
          <td>
            {% if character.current_activity.name.startswith(character.current_activity.type) %}
              {{character.current_activity.name}}
            {% else %}
              {{character.current_activity.type}}: {{character.current_activity.name}}
            {% endif %}
          </td>
          <td></td>
          <td></td>
          <td>active</td>
        </tr>
      {% endif %}
      {% for activity in character.activities %}
        <tr>
          <td>
            {% if activity.name.startswith(activity.type) %}
              {{activity.name}}
            {% else %}
              {{activity.type}}: {{activity.name}}
            {% endif %}
          </td>
          <td>{% if activity.score %}{{activity.score}} points{% endif %}</td>
          <td>{{activity.duration}} seconds</td>
          <td>{{activity.completed and 'completed' or 'abandoned'}}</td>
        </tr>
      {% endfor %}
    </table></td>
  </tr><tr>
    {{inventory(character.inventory.primary_weapons)}}
    {{inventory(character.inventory.gauntlets)}}
    {{inventory(character.inventory.ghost)}}
    {{inventory(character.inventory.shaders)}}
  </tr><tr>
    {{inventory(character.inventory.special_weapons)}}
    {{inventory(character.inventory.chest_armor)}}
    {{inventory(character.inventory.vehicle)}}
    {{inventory(character.inventory.emblems)}}
  </tr><tr>
    {{inventory(character.inventory.heavy_weapons)}}
    {{inventory(character.inventory.leg_armor)}}
    <td><table>
      <tr><td>Level</td><td>{{character.level}} ({{(100 * character.level_progress).__int__()}}% to {{character.level + 1}})</td></tr>
      <tr><td>Defense</td><td>{{character.stats.Defense}}</td></tr>
      <tr><td>Intellect</td><td>{{character.stats.Intellect}}</td></tr>
      <tr><td>Discipline</td><td>{{character.stats.Discipline}}</td></tr>
      <tr><td>Strength</td><td>{{character.stats.Strength}}</td></tr>
    </table></td>
    <td><table>
      <tr><td>Light</td><td>{{character.stats.Light}}</td></tr>
      <tr><td>Optics</td><td>{{character.stats.Optics}}</td></tr>
      <tr><td>Armor</td><td>{{character.stats.Armor}}</td></tr>
      <tr><td>Recovery</td><td>{{character.stats.Recovery}}</td></tr>
      <tr><td>Agility</td><td>{{character.stats.Agility}}</td></tr>
    </table></td>
  </tr>
{% endfor %}
</table>
