{% extends "dashboard/_base.html" %}
{% block content %}

<script src="/bungie.js"></script>
<script src="/ezbungie.js"></script>
<script src="/nmlorg.js"></script>
<script src="/user/destiny.js"></script>
<script src="/user/table.js"></script>
<script src="/user/ui.js"></script>
<script>
var user = new nmlorg.destiny.User('{{username|e}}');
var div = document.createElement('div');
document.body.appendChild(div);
div.textContent = 'Loading...';

user.get(function() {
  document.title = user.name + ' \u2022 Destiny Dashboard';
  div.textContent = '';
  var table = new nmlorg.table.Table();
  var row = table.push(true);
  row.push('<a href="/' + user.name + '.raw"><img src="' + user.account_type_icon + '"> ' + user.name + '</a>');
  for (var i = 0; i < user.characters.length; i++) {
    var character = user.characters[i];
    row.push(nmlorg.ui.character(character));
  }
  row.push(nmlorg.ui.placard({
      'active': true,
      'height': 96,
      'icon': '/img/misc/missing_icon.png',
      'left': ['Vault', '', ''],
  }));

  var bucketNames = [];
  for (var i = 0; i < user.characters.length; i++)
    for (var bucket in user.characters[i].inventory)
      if (bucketNames.indexOf(bucket) == -1)
        bucketNames.push(bucket);
  for (var bucket in user.vault)
    if (bucketNames.indexOf(bucket) == -1)
      bucketNames.push(bucket);
  bucketNames.sort()

  var row = table.push();
  row.push('Activities');
  if (user.characters[0].activities.length) {
    for (var i = 0; i < user.characters.length; i++) {
      var character = user.characters[i];
      var cell = new nmlorg.table.ListCell('Activities', character.id + '--Activities');
      row.push(cell.render());
      for (var j = 0; j < character.activities.length; j++) {
        var activity = character.activities[j];
        cell.push(nmlorg.ui.activity(activity), [activity.period, activity.type, activity.name]);
      }
    }
    row.push('');
  } else {
    var a = document.createElement('a');
    a.href = '/';
    a.textContent = 'Login and connect to this player to see daily/weekly activity status, active/available bounties, quests, and non-equipped items.';
    row.push(a).colSpan = user.characters.length + 1;
  }

  var row = table.push();
  row.push('Bounties');
  for (var i = 0; i < user.characters.length; i++) {
    var character = user.characters[i];
    var cell = new nmlorg.table.ListCell('Bounties', character.id + '--Bounties');
    row.push(cell.render());
    for (var j = 0; j < character.bounties.length; j++) {
      var bounty = character.bounties[j];
      cell.push(nmlorg.ui.bounty(bounty), [bounty.icon, bounty.name]);
    }
  }
  row.push('');

  var row = table.push();
  row.push('Quests');
  for (var i = 0; i < user.characters.length; i++) {
    var character = user.characters[i];
    var cell = new nmlorg.table.ListCell('Quests', character.id + '--Quests');
    row.push(cell.render());
    for (var questName in character.quests)
      cell.push(nmlorg.ui.quest(character.quests[questName]), questName);
  }
  row.push('');

  var row = table.push();
  row.push('Recent Activities');
  for (var i = 0; i < user.characters.length; i++) {
    var character = user.characters[i];
    var cell = new nmlorg.table.ListCell('Recent Activities', character.id + '--History');
    row.push(cell.render());
    for (var j = 0; j < character.history.length; j++) {
      var activity = character.history[j];
      cell.push(nmlorg.ui.historyActivity(activity));
    }
  }
  row.push('');

  for (var i = 0; i < bucketNames.length; i++) {
    var bucketName = bucketNames[i];
    var buckets = [];
    for (var j = 0; j < user.characters.length; j++)
      buckets.push(user.characters[j].inventory[bucketName] || []);
    buckets.push(user.vault[bucketName] || []);

    var row = table.push();
    row.push(bucketName);
    for (var j = 0; j < buckets.length; j++) {
      var characterId = (user.characters[j] || {}).id;
      var bucket = buckets[j];
      var cell = new nmlorg.table.ListCell(bucketName, characterId + '-' + bucketName);
      var cellDiv = cell.render();
      row.push(cellDiv);
      var td = cellDiv.parentElement;
      td.addEventListener('dragover', function(e) {
        e.preventDefault();
      });
      td.addEventListener('drop', function(cell, characterId, e) {
        var data = JSON.parse(e.dataTransfer.getData('application/json'));
        var itemDiv = document.getElementById(data.divId);
        if (itemDiv.dataset.characterId == characterId)
          return;
        ezbungie.transferItem(
            data.item.hash, data.item.id, data.item.quantity, user.account_type,
            itemDiv.dataset.characterId, characterId, function(val) {
          if (val) {
            itemDiv.dataset.characterId = characterId;
            cell.push(itemDiv);
          }
        });
        e.preventDefault();
      }.bind(null, cell, characterId));
      for (var k = 0; k < bucket.length; k++) {
        var item = bucket[k];
        var itemDiv = nmlorg.ui.item(item);
        itemDiv.dataset.characterId = characterId;
        cell.push(itemDiv, [1 / (item.primary_stat_value || 1), item.name]);
        if (item.equipable && (item.id != '0'))
          itemDiv.addEventListener('dblclick', function(itemDiv, accountType, charId, itemId, e) {
            bungie.equipItems(accountType, charId, [itemId], function(val) {
              if (val.equipResults[0].equipStatus == 1) {
                itemDiv.style.backgroundColor = '#212121';
              } else {
                console.log(val);
                alert('Equip failed.');
              }
            });
          }.bind(null, itemDiv, user.account_type, characterId, item.id));
      }
    }
  }

  div.appendChild(table.render());
});
</script>

{% endblock %}
