<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>{% block title %}Destiny Dashboard{% endblock %}</title>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Destiny Dashboard</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for link, name in breadcrumbs %}
          <li{% if loop.last %} class="active"{% endif %}><a href="{{link}}">{{name}}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{login_url}}">{% if user %}{{user.key.id()}}{% else %}Login{% endif %}</a></li>
      </ul>
      <form class="navbar-form navbar-right" id="inspect-form">
        <div class="form-group">
          <input name="account" placeholder="Gamer tag" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Inspect</button>
      </form>
    </div>
  </div>
</nav>

<script>
document.getElementById('inspect-form').addEventListener('submit', function(e) {
  e.preventDefault();
  window.location = '/' + this.firstElementChild.firstElementChild.value;
});
</script>

<style>
body {
  padding-top: 55px;
}
</style>

{% macro ShowDict(obj) %}
  {% if obj %}
    {% if obj|count > 1 %}
      <button class="btn btn-default btn-sm"
              onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display == '' ? 'none' : '';">{{obj|count}} items</button>
    {% endif %}
    <ul{% if obj|count > 5 %} style="display: none"{% endif %}>
      {% for k, v in obj.iteritems()|sort %}
        <li>{{k}}: {{ShowVal(k, v)}}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
{% macro ShowList(k, obj) %}
  {% if obj %}
    {% if obj|count > 1 %}
      <button class="btn btn-default btn-sm"
              onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display == '' ? 'none' : '';">{{obj|count}} items</button>
    {% endif %}
    <ol{% if obj|count > 5 %} style="display: none"{% endif %}>
      {% for v in obj %}
        <li>{{ShowVal(k, v)}}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}
{% macro ShowVal(k, v) %}
  {% if v.iteritems %}
    { {{ShowDict(v)}} }
  {% elif v.__iter__ %}
    [ {{ShowList(k, v)}} ]
  {% elif k.startswith('icon') or k.endswith('Icon') or k.endswith('ImageMobile') or k.endswith('Path') or k.endswith('Portrait') %}
    {{v}}<br>
    <img src="https://www.bungie.net{{v}}" style="border: 1px solid black">
  {% elif k == 'activityBundleHashes' %}
    <a href="/db/ActivityBundle/{{v}}">{{v}}</a>
  {% elif k == 'activityHash' or k == 'activityHashes' or k == 'currentActivityHash' %}
    <a href="/db/Activity/{{v}}">{{v}}</a>
  {% elif k == 'activityTypeHash' %}
    <a href="/db/ActivityType/{{v}}">{{v}}</a>
  {% elif k == 'bookHash' or k == 'directorBookHash' %}
    <a href="/db/DirectorBook/{{v}}">{{v}}</a>
  {% elif k == 'bucketHash' or k == 'bucketTypeHash' %}
    <a href="/db/InventoryBucket/{{v}}">{{v}}</a>
  {% elif k == 'classHash' %}
    <a href="/db/Class/{{v}}">{{v}}</a>
  {% elif k == 'destinationHash' %}
    <a href="/db/Destination/{{v}}">{{v}}</a>
  {% elif k == 'eventHash' %}
    <a href="/db/SpecialEvent/{{v}}">{{v}}</a>
  {% elif k == 'factionHash' %}
    <a href="/db/Faction/{{v}}">{{v}}</a>
  {% elif k == 'flagHash' %}
    <a href="/db/UnlockFlag/{{v}}">{{v}}</a>
  {% elif k == 'genderHash' %}
    <a href="/db/Gender/{{v}}">{{v}}</a>
  {% elif k == 'gridHash' or k == 'talentGridHash' %}
    <a href="/db/TalentGrid/{{v}}">{{v}}</a>
  {% elif k == 'itemCategoryHash' or k == 'itemCategoryHashes' %}
    <a href="/db/ItemCategory/{{v}}">{{v}}</a>
  {% elif k == 'itemHash' or k == 'questlineItemHash' or k == 'setItemHashes' %}
    <a href="/db/InventoryItem/{{v}}">{{v}}</a>
  {% elif k == 'locationHash' %}
    <a href="/db/Location/{{v}}">{{v}}</a>
  {% elif k == 'objectiveHash' or k == 'objectiveHashes' %}
    <a href="/db/Objective/{{v}}">{{v}}</a>
  {% elif k == 'perkHash' or k == 'perkHashes' %}
    <a href="/db/SandboxPerk/{{v}}">{{v}}</a>
  {% elif k == 'placeHash' %}
    <a href="/db/Place/{{v}}">{{v}}</a>
  {% elif k == 'primaryBaseStatHash' %}
    <a href="/db/Stat/{{v}}">{{v}}</a>
  {% elif k == 'progressionHash' %}
    <a href="/db/Progression/{{v}}">{{v}}</a>
  {% elif k == 'raceHash' %}
    <a href="/db/Race/{{v}}">{{v}}</a>
  {% elif k == 'skullHash' %}
    <a href="/db/ScriptedSkull/{{v}}">{{v}}</a>
  {% elif k == 'buildStatGroupHash' or k == 'statGroupHash' %}
    <a href="/db/StatGroup/{{v}}">{{v}}</a>
  {% elif k == 'statHash' %}
    <a href="/db/Stat/{{v}}">{{v}}</a>
  {% elif k == 'sourceHash' or k == 'sourceHashes' %}
    <a href="/db/RewardSource/{{v}}">{{v}}</a>
  {% elif k == 'triumphSetHash' %}
    <a href="/db/TriumphSet/{{v}}">{{v}}</a>
  {% elif k == 'vendorCategoryHash' or k == 'vendorCategoryHashes' %}
    <a href="/db/VendorCategory/{{v}}">{{v}}</a>
  {% elif k == 'vendorHash' %}
    <a href="/db/Vender/{{v}}">{{v}}</a>
  {% else %}
    {{v|e}}
  {% endif %}
{% endmacro %}
{% block content %}{% endblock %}
